.card_image {
  height: 340px;
  overflow: hidden; }

a.next img, a.prev img {
  position: absolute;
  top: 40%; }

a.prev img {
  left: 3px;
  -webkit-transform: rotate(180deg) scale(2); }

a.next img {
  right: 3px;
  -webkit-transform: scale(2); }
