.current
    .toolbar
        %h1 the orly project
        = link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external"

    .info
        informacion

    %ul
        - Group.all.each do |g|
            %li.arrow
                = link_to g.name, group_path(g)
                // %small.counter 2
