<div id="s1" class="widget">
  <div class="toolbar">
    <h1>Natalie Portman</h1>
    <%= link_to "groups", "#", :class => "button"%>
  </div>
  <div id="quotes">
    <h2>Swipe left or right</h2>
    <div><%= image_tag ("1.jpg")   %></div>
    <ul class="rounded"><li><span class="left">Name</span><span class="right">Natalie Portman</span></li></ul></div>
</div>

<div id="s2" class="widget">
  <div class="toolbar">
    <h1>Milla Jovovich</h1>
  </div>
  <div id="quotes">
    <h2>Swipe left or right</h2>
    <div><%= image_tag ("2.jpg")   %></div>
    <ul class="rounded"><li><span class="left">Name</span><span class="right">Milla Jovovich</span></li></ul></div>
</div>

<div id="s3" class="widget">
  <div class="toolbar">
    <h1>Sexy Girl3</h1>
  </div>
  <div id="quotes">
    <h2>Swipe left or right</h2>
    <div><%= image_tag ("3.jpg")   %></div>
    <ul class="rounded"><li><span class="left">Name</span><span class="right">Sexy Girl3</span></li></ul></div>
</div>